.test {
  background-color: rgb(24, 56, 56);
  color:white;
 
 
}
.test1{
  background-color: #e2d5d5;
}

.test3{
  background-color: rgb(53, 53, 71);
  padding: 4px;
  color: white;
}

.home{
  background-color: rgb(214, 192, 192);
}

.billing{
  background-color:rgb(59, 48, 48);
  color: white;
  font-size: 30px;
  padding: 6px;
}
.tab{
  background-color: rgb(212, 181, 181);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.login{
  background-color:rgb(216, 197, 197);
  color:white;
  padding: 5px;;
}